<h1>Criacao de Task - {{task.title}}</h1>
<div class="container">
        <form action="/edit/{{task.id}}" method="POST">
            <div class="form-control">
                <label for="title">Titulo: </label>
                <input type="text" name="title" value="{{task.title}}" placeholder="Digite o titulo">
            </div>
            <div class="form-control">
                <label for="description">Descricao: </label>
                <textarea name="description" value="{{task.description}}" placeholder="Digite a descricao da tarefa"></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="Editar" class="submit">
            </div>
        </form>
</div>